$purple-gaming: #974d95;
$pink-gaming: #e5418e;

* {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.navbar {
  margin: 0;
}
.navbar__contactMe {
  background-color: $pink-gaming;
  height: 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.navbar__contactMe--contacts {
  display: flex;
  margin-left: 1%;
  padding: 5px;
}

.navbar__contacts--icon {
  display: flex;
  margin-right: 30px;
  p {
    margin-left: 5px;
  }
}

.icon--contacts {
  height: 18px;
}

.navbar__contactMe--networks {
  margin-right: 1%;
}

.icon--networks {
  border: 1px solid white;
  border-radius: 50%;
  height: 32px;
  padding: 4px;
  margin: 0 8px;
}

.navbar__menu {
  height: 115px;
  background-color: #fff;
  padding: 0.1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid $purple-gaming 1px;
}

.navbar__icon {
  height: 100px;
  width: 100px;
  background-image: url("./assets/ImpulsoGaming.jpg");
  background-size: cover;
  background-position: center;
  margin-left: 12%;
}

.navbar__burger {
  align-items: center;
  margin-right: 1%;
}

.navbar__menu--burger {
  border: none;
  padding: 0;
  background-color: white;
}

.icon--menu {
  height: 35px;
}

.dropdown {
  position: absolute;
  width: 90%;
  background-color: $pink-gaming;
  left: 5%;
  text-align: center;
  z-index: 200;
  overflow: hidden;
  transition: 1s;

  animation: dropdown-down 0.2s 1 linear;
}

@keyframes dropdown-down {
  0% {
    height: 0;
  }
  100% {
    height: 230px;
  }
}

.dropdown__link {
  border: solid $purple-gaming 1px;
  border-top: none;
  padding: 10px 0;
}

.dropdown__link--item {
  font-size: large;
  color: #fff;
  &:hover {
    color: $purple-gaming;
  }
}

.navbar__row {
  display: none;
}
.row__link--item {
  font-size: large;
  padding: 8px 15px;
  margin: 0 3px;
  color: #fff;
  background-color: $pink-gaming;
  border-radius: 3px;
  &:hover {
    color: $pink-gaming;
    background-color: $purple-gaming;
  }
}

.carousel {
  position: relative;
  overflow: hidden;
}
.contenedorSlideShow {
  display: flex;
  flex-wrap: nowrap;
}
.slide {
  min-width: 100%;
  transition: 0.3s ease all;
  z-index: 50;
  max-height: 500px;
  position: relative;
}

.slide--img {
  width: 100%;
  vertical-align: top;
}
.slide--text {
  position: relative;
  background: #000;
  color: #fff;
  width: 100%;
  padding: 10px 60px;
  text-align: center;
  bottom: 0;
}

.carousel__buttons {
  position: absolute;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.carousel--button {
  pointer-events: all;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  width: 50px;
  height: 100%;
  text-align: center;
  position: absolute;
  transition: 0.3s ease all;
}

.carousel--button--left {
  left: 0;
}

.carousel--button--right {
  right: 0;
}

.carousel__row--icon {
  height: 45px;
  &:hover {
    height: 50px;
    transition: 0.3s;
  }
}

.service {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 96%;
  padding-top: 100px;
}

.service__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 15px;
}

.title--border {
  margin: 0 auto;
  width: 90px;
  margin-bottom: 80px;
  border-bottom: 5px solid $purple-gaming;
}

.service__item__container {
  display: flex;
  flex-direction: column;
}

.service__item {
  margin-bottom: 30px;
}

.service__item--header {
  display: flex;
  margin: 10px 0;
}

.service__item--img {
  width: 30px;
  margin-right: 15px;
}

.service__item--title {
  font-size: 18px;
  font-weight: 600;
  margin-top: 5px;
  text-transform: uppercase;
}

.ourPortfolio {
  background-color: $purple-gaming;
  padding: 120px 0 80px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}

.ourPortfolio__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 15px;
  color: white;
}

.ourPortfolio__title--border {
  margin: 0 auto;
  width: 90px;
  margin-bottom: 80px;
  border-bottom: 5px solid $pink-gaming;
}

.ourPortfolio__images {
  margin: 0 auto;
  width: 96%;
  display: flex;
  flex-direction: column;
}

.ourPortfolio__images--item {
  margin: 15px 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-width: 740px;
  max-height: 530px;

  &:hover {
    filter: blur(2px);
  }
}

.ourPortfolio__light-box {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: scale(0);

  &:target {
    transform: scale(1);
  }
}

.ourPortfolio__light-box--images {
  width: 80%;
  max-width: 550px;
  max-height: 395px;

  object-fit: cover;
}

.light-box--button {
  width: 40px;
  margin: 0 2px;
}

.ourPortfolio__light-box--close {
  position: absolute;
  top: 40px;
  right: 40px;
}

.light-box--close {
  width: 40px;
  border-radius: 50%;
  border: 1px solid white;
}
.aboutUs {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 96%;
  padding-top: 100px;
}
.aboutUs__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 15px;
}
.aboutUs__header {
  display: flex;
  flex-direction: column;
}
.aboutUs__header--subtitle {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 30px;
}
.aboutUs__header--element {
  padding-bottom: 40px;
}

.aboutUs__header--conteinerData {
  background-color: #ebebeb;
  margin: 10px 0;
  width: 100%;
}
.aboutUs__conteinerData--text {
  color: white;
  background-color: $pink-gaming;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutUs__conteinerData_content {
  color: #fff;
}
.aboutUs__conteinerData--text--90 {
  width: 90%;
}
.aboutUs__conteinerData--text--75 {
  width: 75%;
}
.aboutUs__conteinerData--text--85 {
  width: 85%;
}
.aboutUs__conteinerData--text--95 {
  width: 95%;
}

.card {
  width: 100%;
  max-width: 740px;
  border: 1px solid $purple-gaming;
  background-color: #ebebeb;
  margin-bottom: 50px;
}
.card__image {
  width: 100%;
  object-fit: cover;
}

.card__description {
  padding: 20px;
}
.card__title {
  color: $purple-gaming;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 10px;
}

.card__subtitle {
  color: #7e7e7e;
  margin-bottom: 15px;
}

.footer__item {
  background-color: $purple-gaming;
  border-top: 3px solid $pink-gaming;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 10px 0;
}

.footer__logo {
  display: none;
}

.footer__contacts {
  color: #fff;
  margin-bottom: 5px;
}

.footer__top--contacts {
  color: white;
  font-weight: 500;
  font-size: 28px;
  padding: 10px 0;
}
.footer__text {
  color: white;
  font-size: 15px;
}

.footer__links--container {
  display: flex;
}

.footer__links {
  padding: 1px;
  margin: 0 5px;
  transition: 0.5s;
  &:hover {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .navbar__contactMe {
    flex-direction: row;
    justify-content: space-between;
    height: 52px;
  }
  .navbar__burger {
    display: none;
  }
  .dropdown {
    display: none;
  }
  .navbar__row {
    display: flex;
  }
  .slide--text {
    position: absolute;

    background-color: rgba(0, 0, 0, 0.5);
  }
  .service__item__container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .service__item {
    width: 270px;
  }
  .ourPortfolio__images {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .ourPortfolio__images--conteiner {
    display: flex;
  }
  .ourPortfolio__images--item {
    max-width: 370px;
    margin: 1px;
    padding: 10px 5px;
  }
  .aboutUs__header {
    flex-direction: row;

    justify-content: center;
  }
  .aboutUs__header--element--left {
    max-width: 750px;
    width: 100%;
    margin-right: 5%;
  }
  .aboutUs__header--element--right {
    max-width: 360px;
    width: 35%;
  }
  .card__container {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    gap: 15px;
  }

  .footer__item {
    text-align: center;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .footer__logo {
    display: block;
    background-color: #fff;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: contain;
  }

  .footer__contacts {
    width: 225px;
  }
}
